

      html
      {
        height: 100%;
        width: 100%;
      }

      body
      {
        font-family: 'Open Sans', serif;
        margin: 0;
        padding: 0;
        height: auto;
        width: auto;
        -webkit-font-smoothing: antialiased;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        background-color:rgba(180, 176, 176, 0.53)
      }

	  .page_wrapper
	  {
		width:auto;
		height:auto;
	  }

      .top-section
      {
	    text-align: center;
	    padding: 1px;
	    background: #1a1515;
	    border: #ca2727; 
	    color: #FBE021;
      }
      
      .header-txt
      {
	      text-align: center;
	      position: relative;
	      margin: 0;
	      align-content: center
      }

	  .dropbtn
	  {
		left:50%;
		top: 50%;
		width: 100px;
		background-color: #004F39;
		color: white;
		padding: 16px;
		font-size: 16px;
		border: none;
		cursor: pointer;
		right: 50px;
	  }
	
	 .dropbtn:hover, .dropbtn:focus
	 {
		background-color: #FBE021;
	 }
	 
	 .dropdown
	 {
		left: 50%;
		top: 50%;
		align-content: center;
		justify-content:inherit;
		position:absolute;
		align-self: center;
		display: inline-block;
		transform: translate(-50%,-50%);
		
	 }

	 .dropdown-content
	 {
		display: none;
		position: fixed;
		background-color: #f1f1f1;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		 
	 }

	 .dropdown-content a
	 {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	 }
	 
	 .dropdown-content a:hover {background-color: #ddd}
	 
	 .show {display:block;}
	 
	 .box
	 {
		position: relative;
		top: 50%;
		margin: -10px auto;
		/* -height/2 */
		width: 20px;
		height: 20px;
  	 }
  	 
  	 table 
  	 {
  	 	font-family: arial, sans-serif;
  	 	border-collapse: collapse;
  	 	width: 100%;
	 }

	 td, th 
	 {
	 	border: 1px solid black;
	 	text-align: left;
	 	padding: 8px;
	 }

	 tr:nth-child(even) {background-color: green;}
	 
	 tr:nth-child(1){background-color: #f71111}
	 
	 
	 