/* 
	- Document: UI Styling
	- Version:  1.0.0
	- Authors:   Zeke Petersen, Logan Levitre   
*/

/* ==[ Global Settings ]== */
html {
  height: 100%;
  width: 100%;
	font-family: 'Open Sans', serif;
	color: #222;
}

body {
  -webkit-font-smoothing: antialiased;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  background-color:rgba(180, 176, 176, 0.53)
}


/* ==[ Dropdown ]== */
.dropdown-content a {
	color: black;
	padding: 4px 10px;
	text-decoration: none;
	display: block;
	cursor: pointer;
	min-width: 150px;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
}

.dropdown-toggle {
	min-width: 150px;
}

/* ==[ Forms ]== */
.form-group input {
	width: 150px;
	margin: 0 auto;
	float: 0;
}

/* ==[ Bootstrap ]== */
[class*="col-"] {
    padding: 1rem;
}

.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
