<!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <title>To Be Decided</title>
        
        <link rel="stylesheet" href="../static/css/ui.css">
    </head>
     <div class="top-section">
		    <h4> Create your own 4-Year Plan!</h4>
	    </div>
    <body>
	    <script type="text/javascript" src="../static/js/ui.js"></script>
	    <div class=dropdown>
		    <button onclick="toggleShow()" class="dropbtn"> Dropdown </button>
		    <div id="dropdown-list" class="dropdown-content">
			    <a href="#">9557593</a>
				<a href="#">9573834</a>
				<a href="#">9502340</a>
				<a href="#">9557593</a>
				<a href="#">9573834</a>
				<a href="#">9502340</a>
				<a href="#">9557593</a>
				<a href="#">9573834</a>
				<a href="#">9502340</a>

	    	</div>
	    </div>
	       </body>
    </html>