<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FYPT</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/ui.css">
  </head>

  <body>
	  <script type="text/javascript" src="../static/js/ui.js"></script>

		<div class="container-fluid padding">
			<div class="row text-center padding">
				<div class="col-12">
					<h2>Welcome to the Four-Year Plan Tracker!</h2>
					<hr>
					<!--Dropdown button containing Student ID # -->
					<div class="dropdown-container" id="main-space">
						<button data-toggle="dropdown" class="btn btn-success dropdown-toggle btn-xs" type="button" id="log-in">Student Select<span class="caret"></span>
						</button>
						<ul role="menu" class="dropdown-menu">
							<!--when clicked will remove button and display class options and buttons -->
							<li class="dropdown-content"><a onclick="toggleLogin()">951234567</a> </li>
  					</ul>
					</div>
					<!-- TODO Will need a create new student button -->

				</div>
			</div>
		</div>

		<div class="container-fluid padding">
			<div class="row">

					<div class="col-md-6 my-4">
						<button class="btn btn-primary" id="save" style="display: none;" onclick="">Save</button>
						<button class="btn btn-primary" id="display" style="display: none;" onclick="">Save and Display</button>
						<!-- Perhaps a clear changes button? May be a future addition -->
						<br><br>
						<div class="table-responsive">
							<table class="table table-bordered" id="added-list" style="display: none;">
								<thead>
								<tr class="table-success">
									<th scope="col" style="width: 50%">Course Name</th>
									<th scope="col" style="width: 25%">Year</th>
									<th scope="col" style="width: 25%">Term</th>
								</tr>
								</thead>
								<tbody id="course-rows">
									<!-- Filled by JS when user inputs courses -->
								</tbody>
							</table>
						</div>
					</div>

					<div class="col-md-6 my-4">
						<button class="btn btn-primary" id="add" style="display: none;" onclick="addClass()">Add Course</button>
						<button class="btn btn-primary" id="remove" style="display: none;" onclick="removeClass()">Remove Course</button>
					</div>
			</div>
		</div>

  </body>
</html>
